<div class="row">
  <div class="col-md-offset-1 col-md-10 post">
  	<h1>Getting Started!</h1>
  	<p class="date">JUL 26, 2015</p>

  	<div>


<h2 id="about-me">About Me</h2>
<p>Hello there! My name is Diego Zanon and I&#39;m a computer engineer. If you want to know more about what I&#39;ve done and what I like, you can visit my profile page at <a href="http://diego.zanon.io">diego.zanon.io</a>.</p>
<h2 id="what-will-i-blog-">What will I blog?</h2>
<p>I like to consider myself a Full-Stack developer. So, you can expect to read about anything needed to build a system :) Ok, I&#39;m lying. There&#39;ll be a bit of focus here. As I&#39;m currently in love with the MEAN stack, that&#39;s what I&#39;ll start blogging. Also, I&#39;m a big fan of AWS and mobile apps (ok, no focus!).</p>
<p>I intend to follow 3 rules while blogging here:</p>
<ol>
<li>Never blog about something that is trivial or widely known, otherwise I&#39;ll not be contributing to add new info to the internet.</li>
<li>Prefer to blog about things that I don&#39;t know and where I must pretend to be an expert. That&#39;s the best way to learn more :) Please, correct me in comments (Disqus) if you see something wrong (even grammar errors) and I&#39;ll be grateful.</li>
<li>Blog frequently: for me, it means 2 times per month :)</li>
</ol>
<h2 id="why-am-i-blogging-">Why am I blogging?</h2>
<p>In the last few years, I became addicted to learn new things. I&#39;ve transformed it in a hobby as some things keeps me motivated and excited to keep on. But in a few moments, it&#39;s something that may stress me because I feel like running against time. Its something that happens with everyone: if you learn a new thing, but don&#39;t use it frequently, you will forget it. It feels like the more that I learn, the more I forget.</p>
<p>What I do to reduce this loss of knowledge is to write tutorials or summaries for myself. I write a lot. I really write <em>a lot</em>. This extra time writing is what helps me to consolidate what I&#39;ve learned and to reduce the speed of forgetting. I also do some periodic read and revisions to make sure that it&#39;s all safe in my mind.</p>
<p>But, why do I need to share what I&#39;m learning? I&#39;m shy and don&#39;t like public exposition. The reason is: I&#39;ve read a post some months ago and that changed my vision: <a href="https://www.quora.com/What-do-the-top-1-of-software-engineers-do-that-the-other-99-do-not">What do the top 1% of software engineers do that the other 99% do not?</a> (specially Michael O. Church&#39;s answer).</p>
<p>Michael&#39;s post tries to quantify the knowledge in software engineering and the conclusion is that smart people shares. There are &quot;Adders&quot;, who only &quot;add&quot; new code to the world and the &quot;Multipliers&quot;, people who share and that can make a difference in a larger scale.</p>
<p>Also, most of the tools that I use are free and open-source and the places where I use to learn (blogs, Stack Overflow, etc) offers everything for free. Its the good will of people that keeps me learning for free so my way to give it back is to share what I learn and build.</p>


    </div>
  </div>
</div>

<dir-disqus></dir-disqus>