
<div class="row post-container">
  <div class="col-md-offset-1 col-md-10 post">
    <h1>Building Serverless Websites on AWS - Tutorial</h1>
    <p class="date">JAN 31, 2016</p>
    <div>

<h2 id="objective">Objective</h2>
<p>This tutorial shows how to create a simple serverless application using the Serverless Framework 1.0. This tool supports code written in Node, Python and Java, but this tutorial uses only Node.js.</p>
<p>If you don&#39;t know yet what is this concept of Serverless and its benefits, you can read my previous blog post <a href="http://zanon.io/posts/building-serverless-websites-on-aws-intro">here</a>. I also explain a little more about each technology that will be used in this example.</p>
<p>The demo app is hosted at <a href="http://serverless-demo.zanon.io">http://serverless-demo.zanon.io</a> and the source code is available at <a href="https://github.com/zanon-io/aws-serverless-demo">https://github.com/zanon-io/aws-serverless-demo</a></p>
<p>This demo just shows a fake weather information when a button is clicked. To achieve this, we are using the following architecture:</p>
<p><img src="http://zanon.io/images/posts/2016-01-31-lambda-web-apps.png" alt="lambda-web-apps"></p>
<p><strong>Note</strong>: this image was adapted from <a href="https://aws.amazon.com/lambda/">here</a>. AWS likes to associate Lambda with DynamoDB, but I&#39;ve used SimpleDB since that&#39;s the only serverless database offered by AWS. DynamoDB allows you to build more complex apps, but you need to provision capacity and you will pay for it even if no one is using your app. A true serverless app aims for <em>infinite scalability</em>, <em>high availability</em> <strong>and</strong> <em>pay only for what you use</em>, so DynamoDB lacks the last one.</p>
<h2 id="summary">Summary</h2>
<p>This tutorial tries to cover everything to build a serverless site, including how to configure your domain and host your frontend code.</p>
<ol>
<li><a href="#serverless-framework">Serverless Framework</a> (Backend)</li>
<li><a href="#simpledb">SimpleDB</a> (Database)</li>
<li><a href="#host-your-website">Host your Website</a> (DNS)</li>
<li><a href="#frontend">Frontend</a> (Frontend)</li>
</ol>
<h2 id="serverless-framework">Serverless Framework</h2>
<p>The Serverless Framework is a tool that helps you to manage and deploy serverless projects that uses Lambda Functions, API Gateway and other AWS services. You can do everything manually using Amazon&#39;s console, but it&#39;ll be much harder to manage big projects.</p>
<p>The Serverless Framework is a Node.js module. So, install it using npm (or Yarn, if you prefer):</p>
<pre><code class="lang-xml">&gt; npm install serverless -g
</code></pre>
<p>In this tutorial, I&#39;ve used v1.1</p>
<h3 id="configuring">Configuring</h3>
<p>The Serverless Framework needs an AWS user account to manage your AWS resources. For production usage, this user must be configured with restricted access to just allow the services that will be used. However, if you are just learning, you can create an Admin account to get it up and running quickly.</p>
<p>To create an user, browse the <a href="https://console.aws.amazon.com/iam">IAM console</a> and create a group first:</p>
<p><img src="http://zanon.io/images/posts/2016-01-31-iam-group.png" alt="iam-group"></p>
<p>Name it as <strong>serverless-group</strong> and attach the <strong>AdministratorAccess</strong> policy.</p>
<p><img src="http://zanon.io/images/posts/2016-01-31-iam-group-admin.png" alt="iam-group-admin"></p>
<p>After that, create a new user named as <strong>serverless-admin</strong>, write down its <strong>Access Key ID</strong> and <strong>Secret Access Key</strong>, and add the user to the group that you have created.</p>
<p><img src="http://zanon.io/images/posts/2016-01-31-iam-user.png" alt="iam-user"></p>
<p><img src="http://zanon.io/images/posts/2016-01-31-iam-user-group.png" alt="iam-user-group"></p>
<p>As Serverless uses the AWS Node.js SDK, it looks for the user credentials in a <strong>credentials</strong> file located at <strong>~/.aws/credentials</strong> on Mac/Linux or <strong>C:\Users\USERNAME\.aws\credentials</strong> on Windows.</p>
<p><strong>Note</strong>: on Windows, using the file explorer to create a file named <strong>.aws</strong> returns an error because it starts with a dot. You need to create it with the name <strong>.aws.</strong> and the file explorer will rename it to <strong>.aws</strong>.</p>
<p>The file must have the following format: (replace with your access key and secret key)</p>
<pre><code class="lang-xml">[default]
aws_access_key_id = your_access_key
aws_secret_access_key = your_secret_key
</code></pre>
<h3 id="creating-a-project">Creating a Project</h3>
<p>Create a folder for your project and execute:</p>
<pre><code class="lang-xml">&gt; serverless create --template aws-nodejs --name my-serverless-demo
</code></pre>
<p>This command will create 3 files:</p>
<ul>
<li><strong>handler.js</strong>: the file where we will define our function.</li>
<li><strong>event.json</strong>: it&#39;s just a file to help testing. The JSON data will be used as the input data for test invokes.</li>
<li><strong>serverless.yml</strong>: it&#39;s our project configuration file.</li>
</ul>
<h3 id="handler-js">handler.js</h3>
<p>This file is our <em>main</em> function. That&#39;s where we&#39;ll write our Lambda code to accomplish a very specific task. In this tutorial, we&#39;ll create a service that will receive a locationId and read from a database the weather that matches this Id.</p>
<p>In the code below, we are just returning a hard-coded value as the temperature to simplify our first example. Additionally, we are returning the input as the locationId.</p>
<pre><code class="lang-javascript">module.exports.currentTemperature = (event, context, callback) =&gt; {

  const response = {
    statusCode: 200,
    body: JSON.stringify({
      temperature: 30,
      locationId: event.id
    })
  };

  callback(null, response);
};
</code></pre>
<h3 id="event-json">event.json</h3>
<p>Below follows an example of the file <strong>event.json</strong>. It is useful for testing as it can be used to replace our <em>event</em> input parameter.</p>
<pre><code class="lang-javascript">{
  &quot;id&quot;: 5,
  &quot;name&quot;: &quot;Rio de Janeiro&quot;
}
</code></pre>
<h3 id="serverless-yml">serverless.yml</h3>
<p>This configuration file uses the YAML syntax that is very easy to use and readable. For our hello-world example, we can replace the file contents with the following:</p>
<pre><code class="lang-xml">service: my-serverless-demo
provider:
  name: aws
  runtime: nodejs4.3
functions:
  weather:
    handler: handler.currentTemperature
</code></pre>
<p>In this configuration, we have just one function, named as <strong>weather</strong>, that will be defined by a <strong>handler.js</strong> module that exports a <strong>currentTemperature</strong> function.</p>
<h3 id="deploying">Deploying</h3>
<p>Deploying is an easy task. Just run:</p>
<pre><code class="lang-xml">&gt; serverless deploy
</code></pre>
<p>We have just deployed our function, but there is yet no public address to trigger it.</p>
<h3 id="invoking">Invoking</h3>
<p>We can test our Lambda function running the following:</p>
<pre><code class="lang-xml">&gt; serverless invoke --function weather --path event.json
</code></pre>
<p><strong>event.json</strong> is our input test file.</p>
<h3 id="endpoints">Endpoints</h3>
<p>An endpoint is our RESTful interface implemented by the API Gateway which provides a public URL for our Lambda functions.</p>
<p>To create an endpoint, we need to add HTTP events to our <strong>serverless.yml</strong> file. See this example:</p>
<pre><code class="lang-xml">service: my-serverless-demo
provider:
  name: aws
  runtime: nodejs4.3
functions:
  weather:
    handler: handler.currentTemperature
    events:
      - http: GET weather/temperature
</code></pre>
<p>After modifying, deploy it again with <code>serverless deploy</code>.</p>
<p>Now our function is accessible from a public URL. In this test, I&#39;ve got the following address: <a href="https://8w8ctjxkeh.execute-api.us-east-1.amazonaws.com/dev/weather/temperature">https://8w8ctjxkeh.execute-api.us-east-1.amazonaws.com/dev/weather/temperature</a></p>
<p>You can copy-paste your URL into your browser address to execute a GET request. You may receive the following JSON result:</p>
<pre><code class="lang-json">{
  &quot;temperature&quot;: 30
}
</code></pre>
<p>Did you miss the <code>locationId</code> property? As we are not passing parameters, <code>event.id</code> is undefined and the JSON object will ommit the <code>locationId</code> property.</p>
<p>However, even if we use querystring parameters (adding <code>?id=5</code>) to the end of the URL, we still won&#39;t see the <code>locationId</code> property. The reason is that the event object that the Lambda function receives is not exactly what we pass to API gateway. The querystring parameters will be available under the <code>querystring</code> property. </p>
<p>See the following Lambda function. In this example, it will be able to access the input variables and access the <code>id</code> property from a <code>?id=5</code> querystring.</p>
<pre><code class="lang-javascript">module.exports.currentTemperature = (event, context, callback) =&gt; {

  const response = {
    statusCode: 200,
    body: JSON.stringify({
      temperature: 30,
      locationId: event.queryStringParameters.id
    })
  };

  callback(null, response);
};
</code></pre>
<p><strong>Note</strong>: if you are using a POST/PUT/DELETE verb, parameters will be available under the <code>body</code> property and you need to parse it before using (example: <code>JSON.parse(event.body)</code>).</p>
<h3 id="setting-lambda-limits">Setting Lambda limits</h3>
<p>By default, your Lambda functions will be created with a reserved memory size of 1024 MB of RAM and a timeout setting of 6 seconds. You can change those values in the <code>serverless.yml</code> file.</p>
<pre><code class="lang-xml">functions:
  weather:
    handler: handler.currentTemperature
    events:
      - http: GET weather/temperature
    memorySize: 128
    timeout: 10
</code></pre>
<h3 id="serverless-architecture">Serverless Architecture</h3>
<p>Serverless fits well in a <a href="http://martinfowler.com/articles/microservices.html">microservices architecture</a>. In this architecture, each endpoint triggers just a single function that is responsible for a specific task. For example, if we added another function to retrieve the average temperature for a given interval, we would configure the <strong>serverless.yml</strong> as the following:</p>
<pre><code class="lang-yaml">service: my-serverless-demo
provider:
  name: aws
  runtime: nodejs4.3
functions:
  weatherCurrent:
    handler: handler.currentTemperature
    events:
      - http: GET weather/current
  weatherAverage:
    handler: handler.averageTemperature
    events:
      - http: GET weather/average
</code></pre>
<p>In a Monolithic architecture, we would have just one big function that would handle all kind of requests.</p>
<pre><code class="lang-yaml">service: my-serverless-demo
provider:
  name: aws
  runtime: nodejs4.3
functions:
  weather:
    handler: handler.temperature
    events:
      - http: GET weather/current
      - http: GET weather/average
</code></pre>
<p>You can read more about serverless architectures in <a href="https://serverless.com/blog/serverless-architecture-code-patterns/">this post</a>.</p>
<h3 id="enable-cross-origin-resource-sharing-cors-">Enable Cross-Origin Resource Sharing (CORS)</h3>
<p>Since our API is deployed at the AWS domain and not inside our app domain, the browsers won&#39;t process AJAX requests due to security issues. To workaround this, you can use <a href="http://json-p.org/">JSONP</a> at the clients-side or <a href="http://enable-cors.org/">enable CORS</a> at Amazon&#39;s side. I prefer to enable CORS.</p>
<p>It&#39;s simple. You just need to set CORS headers inside your Lambda function.</p>
<pre><code class="lang-javascript">module.exports.currentTemperature = (event, context, callback) =&gt; {

  const response = {
    statusCode: 200,
    headers: {
      &#39;Access-Control-Allow-Origin&#39;: &#39;*&#39;
    },  
    body: JSON.stringify({
      temperature: 30,
      locationId: event.queryStringParameters || event.queryStringParameters.id
    })
  };

  callback(null, response);
};
</code></pre>
<h2 id="simpledb">SimpleDB</h2>
<p>We have already configured and deployed our backend code. Let&#39;s make it more useful integrating it with SimpleDB, which is a serverless database.</p>
<h3 id="initialize-your-data">Initialize your Data</h3>
<p>Since there is no AWS Console for SimpleDB, you need to create your model using third-party tools or the AWS SDK. I like the SdbNavigator Chrome Extension. It&#39;s available <a href="https://chrome.google.com/webstore/detail/sdbnavigator/ddhigekdfabonefhiildaiccafacphgg">here</a>. </p>
<p>To connect, you need to set your AWS credentials (restrict access to SimpleDB only) and select a Region.</p>
<ol>
<li>Click on &quot;Add domain&quot; and type &quot;Weather&quot; as the name. The domain is the equivalent of a table in the relational world.</li>
</ol>
<p><img src="http://zanon.io/images/posts/2016-01-31-sdb-domain.png" alt="sdb-domain"></p>
<ol>
<li>Click on &quot;Add property&quot; and add one property with the name &quot;Value&quot; and another with the name &quot;ID&quot;.</li>
</ol>
<p><img src="http://zanon.io/images/posts/2016-01-31-sdb-properties.png" alt="sdb-properties"></p>
<ol>
<li>Now click on &quot;Add record&quot; to add a register with value 35 and ID 5.</li>
</ol>
<p><img src="http://zanon.io/images/posts/2016-01-31-sdb-record.png" alt="sdb-record"></p>
<p>As you may note, SimpleDB accepts only string fields which means that it is not suitable for complex data or aggregations.</p>
<h3 id="add-permissions-to-your-lambda-functions-to-read-simpledb-data">Add permissions to your Lambda functions to read SimpleDB data</h3>
<p>Lambda functions don&#39;t have access to AWS resources by default. You need to give explicity access through <code>iamRoleStatements</code> in the <code>serverless.yml</code> file.</p>
<pre><code class="lang-xml">service: my-serverless-demo
provider:
  name: aws
  runtime: nodejs4.3
  region: us-east-1
  iamRoleStatements:
      - Effect: &quot;Allow&quot;
        Action:
          - &#39;sdb:Select&#39;
        Resource: &quot;arn:aws:sdb:${self:provider.region}:*:domain/Weather&quot;
functions:
  weather:
    handler: handler.currentTemperature
    events:
      - http: GET weather/temperature
    memorySize: 128
    timeout: 10
</code></pre>
<h3 id="retrieve-simpledb-data-using-a-lambda-function">Retrieve SimpleDB data using a Lambda function</h3>
<p>As we are going to use the <code>aws-sdk</code>, it is already available for our Lambda functions without needing to install it locally. If you need to use another module, just npm-install and the Serverless Framework will zip the package with the node_modules.</p>
<p>Let&#39;s go back to our handle.js function and rewrite it to the following:</p>
<pre><code class="lang-javascript">var AWS = require(&#39;aws-sdk&#39;);

// function that helps making queries
const queryData = (query, callback) =&gt; {
  const simpledb = new AWS.SimpleDB();
  simpledb.select({ SelectExpression: query }, callback);
};

// query temperature
const buildTemperatureQuery = (input) =&gt; {
  // sanitize the input confirming that it&#39;s a number
  const locationId = Number(input);
  return `select Value from Weather where ID = &#39;${locationId}&#39;`;
};

module.exports.currentTemperature = (event, context, callback) =&gt; {

  const param = event.queryStringParameters;
  const input = param ? param.id : 0;
  const query = buildTemperatureQuery(input);
  queryData(query, (err, resp) =&gt; {    

    const response = {
      statusCode: 200,
      headers: {
        &#39;Access-Control-Allow-Origin&#39;: &#39;*&#39;
      },  
      body: JSON.stringify({
        temperature: resp.Items ? resp.Items[0].Attributes[0].Value : null,
        locationId: param ? param.id : undefined
      })
    };

    callback(err, response);
  });
};
</code></pre>
<p>Deploy and test the modified code.</p>
<h2 id="host-your-website">Host your Website</h2>
<h3 id="register-a-domain">Register a Domain</h3>
<p>Buying a domain name is not required for this demo to work. If you want to go beyond testing to make something useful, the first step is to buy a domain with a nice name. As you can see, this is hard! The best ones are already taken.</p>
<h3 id="create-amazon-s3-buckets">Create Amazon S3 buckets</h3>
<p><a href="https://console.aws.amazon.com/s3">Amazon S3 buckets</a> is the service where you will manually host your frontend code (HTML/CSS/JavaScript and images) and also where the Serverless Framework will automatically host (in a different bucket) the backend code.</p>
<p>If you&#39;ve bought a domain named as <strong>example.com</strong>, you need to create a bucket with the same <strong>example.com</strong> name and configure it to enable website hosting.</p>
<p><img src="http://zanon.io/images/posts/2016-01-31-s3-hosting.png" alt="s3-hosting"></p>
<p>If you want to support old people that still like to type <strong>www</strong> for every site, you can also create a bucket with the name <strong>www.example.com</strong>. For that one, configure it to redirect all requests for the main address.</p>
<p><img src="http://zanon.io/images/posts/2016-01-31-s3-www.png" alt="s3-www"></p>
<h3 id="configure-amazon-route-53-hosted-zone">Configure Amazon Route 53 Hosted Zone</h3>
<p>After buying your domain, you need to change the default Name Servers. The Name Servers are a set of server addresses (more than one for redundancy) that helps the DNS queries to translate the domain name to the correspondent address of the machine that is hosting your site. Since we want to host our app on Amazon, we need to give them this control. So, the name server will be changed from your domain registrar to Amazon&#39;s addresses. The Amazon service that is responsible for this kind of control is the Route 53.</p>
<p>Go to <a href="https://console.aws.amazon.com/route53">Amazon Route 53</a> and click to create a Hosted Zone for your domain. After creating it, click at your hosted zone and write down the given Name Server (NS).</p>
<p><img src="http://zanon.io/images/posts/2016-01-31-route53-nameservers.png" alt="route53-nameservers"></p>
<h3 id="create-amazon-route-53-aliases">Create Amazon Route 53 Aliases</h3>
<p>You need to create some aliases to map the incoming Amazon Route 53 requests to your S3 buckets. These aliases are created clicking to Create a Record Set.</p>
<p>You need to create a record set of the A-type for your <strong>example.com</strong> domain and CNAME-type for your <strong>www.example.com</strong> domain.</p>
<p>For the A-type record set, just select the S3 bucket within the available options.</p>
<p><img src="http://zanon.io/images/posts/2016-01-31-route53-a-recordset.png" alt="route53-a-recordset"></p>
<p>Regarding the CNAME-type, you need to provide an address. It should be the bucket endpoint address available at the bucket properties tab.</p>
<p><img src="http://zanon.io/images/posts/2016-01-31-route53-cname-recordset.png" alt="route53-cname-recordset"></p>
<h3 id="changing-the-name-servers">Changing the Name Servers</h3>
<p>After preparing your Amazon Host, you need to give them the domain control accessing your registrar website and changing the name servers configuration.</p>
<p>I&#39;ve bought my zanon.io domain at GoDaddy.com, so this tutorial uses their control panel to show how to configure your domain. However, since all domain sellers let you change your name server values, the control panels are different, but you need to make the same configuration.</p>
<p>1) Log into your domain registrar&#39;s control panel and click to manage your domains.</p>
<p><img src="http://zanon.io/images/posts/2016-01-31-godaddy-control-panel.png" alt="godaddy-control-panel"></p>
<p>2) Click at your domain name settings and select the Manage DNS option.</p>
<p><img src="http://zanon.io/images/posts/2016-01-31-godaddy-manage-dns.png" alt="godaddy-manage-dns"></p>
<p>3) View your configured name servers options and edit them with the addresses that are provided by AWS.</p>
<p><img src="http://zanon.io/images/posts/2016-01-31-godaddy-nameservers.png" alt="godaddy-nameservers"></p>
<h3 id="testing">Testing</h3>
<p>Due to cache, you need to wait some hours until this name server changing takes effect. While you wait, create a simple web page in a file named as index.html and upload it to your <strong>example.com</strong> bucket. When the cache is refreshed, you can see your webpage up and running typing your domain name.</p>
<h2 id="frontend">Frontend</h2>
<p>For our demo, we&#39;ll create just one file, named as index.html, with a simple button to retrieve the weather info. Nothing fancy. For a real-world website, you would upload all HTML/CSS/JavaScript and images to your S3 bucket and would consider on configuring an Amazon CloudFront instance to serve your files using a CDN (Content Delivery Network) to provide a low latency connection for users throughout the world.</p>
<p><strong>index.html</strong> contents:</p>
<pre><code class="lang-html">&lt;div class=&quot;container&quot;&gt;
  &lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-md-offset-5 col-md-2 text-center&quot;&gt;
      &lt;h3&gt;Daily Weather&lt;/h3&gt;
      &lt;input id=&quot;btn-show&quot; type=&quot;button&quot; class=&quot;btn btn-primary&quot; value=&#39;Show Current&#39;&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-md-offset-5 col-md-2&quot;&gt;
      &lt;p&gt;Value: &lt;span id=&quot;weather-value&quot;&gt;&lt;/span&gt;&lt;/p&gt;
      &lt;a href=&quot;http://zanon.io/posts/building-serverless-websites-on-aws-tutorial&quot;&gt;&lt;p&gt;source&lt;/p&gt;&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
<p>JavaScript code:</p>
<pre><code class="lang-javascript">$(document).ready(function() {

  $(&#39;#btn-show&#39;).on(&#39;click&#39;, function() {

      $.ajax({
        url: &quot;https://8w8ctjxkeh.execute-api.us-east-1.amazonaws.com/dev/weather/temperature?id=5&quot;,
        success: function(json) {
          $(&quot;#weather-value&quot;).text(json.temperature + &#39; ºC&#39;).fadeOut(&#39;slow&#39;).fadeIn(&#39;slow&#39;);
        }
      });
  });
});
</code></pre>
<p>Our Ajax call is using <a href="https://8w8ctjxkeh.execute-api.us-east-1.amazonaws.com/dev/weather/temperature?id=5">https://8w8ctjxkeh.execute-api.us-east-1.amazonaws.com/dev/weather/temperature?id=5</a> as the URL parameter. This is the address of our Lambda function that we have deployed early.</p>
<p>Result:</p>
<p><img src="http://zanon.io/images/posts/2016-01-31-demo.png" alt="demo"></p>
<p>And... that&#39;s it! The app is working at <a href="http://serverless-demo.zanon.io">http://serverless-demo.zanon.io</a>, where the HTML/CSS/JS is hosted on S3, the backend code is a service that runs only on demand with AWS Lambda and the data is stored in SimpleDB, which generate costs only while processing queries.</p>
<h3 id="update-aug-06-2016">UPDATE: Aug 06, 2016</h3>
<blockquote>
<p>Updated the tutorial due to changes on the Serverless Framework (v0.2 =&gt; v0.5)</p>
</blockquote>
<h3 id="update-nov-04-2016">UPDATE: Nov 04, 2016</h3>
<blockquote>
<p>Updating the Serverless Framework code (v0.5 =&gt; v1.0)</p>
</blockquote>
<a share-twitter="share-twitter" data-text="&quot;Building Serverless Websites on AWS - Tutorial&quot;" data-url="http://zanon.io/posts/building-serverless-websites-on-aws-tutorial" data-via="zanon_io" data-size="large"></a>
    </div>
  </div>
</div>
<div class="disqus">
  <dir-disqus></dir-disqus>
</div>