
<div class="row post-container">
  <div class="col-md-offset-1 col-md-10 post">
    <h1>NoSQL Injection in MongoDB</h1>
    <p class="date">JUL 17, 2016</p>
    <div>

<h2 id="tl-dr">TL;DR</h2>
<p>The solution is to design your application to accept only strings from your users (never allow objects by design) and sanitize the inputs before using them (<a href="https:
//github.com/vkarpov15/mongo-sanitize">mongo-sanitize</a> is a good module for this).</p>
<h2 id="sql-injection">SQL Injection</h2>
<p>In relational databases, SQL Injection is a widely known attack where the malicious user may fill a web form with SQL statements in order to change existing data or to obtain more info than it&#39;s allowed to. If an application builds its queries concatenating a base statement with a variable whose value is set through a input field, this application can be susceptible to this kind of attack.</p>
<p>For example:</p>
<pre><code class="lang-javascript">var query = &quot;SELECT * FROM Users WHERE name = &#39;&quot; + userName + &quot;&#39;;&quot;;
</code></pre>
<p>If the userName variable is set with <code>John Doe&#39;; DROP TABLE Users; --</code>, the result would be:</p>
<pre><code class="lang-sql">SELECT * FROM Users WHERE name = &#39;John Doe&#39;; DROP TABLE Users; --&#39;;
</code></pre>
<p>As a <em>Users</em> table is a pretty common table name for most websites, the attacker could guess that a table with this name would exist without knowing for sure. He would also need luck that no foreign key would prevent the <em>drop table</em> command, but the idea is that he&#39;ll <em>try</em> and we need to <em>prevent</em> those attacks. Another example is to use <code>&#39; OR &#39;&#39; = &#39;</code> to retrieve all data instead of just one record.</p>
<p>In the relational world, this attack can be prevented using <a href="https://en.wikipedia.org/wiki/Prepared_statement">prepared statements</a>, where you use placeholders for each parameter and the database engine will not execute random SQL statements.</p>
<h2 id="nosql-injection">NoSQL Injection</h2>
<p>NoSQL Injection is the equivalent for the NoSQL world. The attack tries to inject code when the inputs are not sanitized and the solution is simply to sanitize them before using.</p>
<p>For example, using Node.js and MongoDB:</p>
<pre><code class="lang-javascript">app.post(&#39;/user&#39;, function (req, res) {

    var query = {
        username: req.body.username,
        password: req.body.password
    }

    db.collection(&#39;users&#39;).findOne(query, function (err, user) {
        console.log(user);
    });
});
</code></pre>
<p>Suppose that we receive the following request:</p>
<pre><code>POST http://www.example.com/user HTTP/1.1
Content-Type: application/json

{
    &quot;username&quot;: {&quot;$ne&quot;: null},
    &quot;password&quot;: {&quot;$ne&quot;: null}
}
</code></pre><p>As <code>$ne</code> is the <em>not equal</em> operator, this request would return the first user (possibly an admin) without knowing its name or password.</p>
<p>The solution in this case is to sanitize the input before using them. A good options is <a href="https://github.com/vkarpov15/mongo-sanitize">mongo-sanitize</a>:</p>
<blockquote>
<p>It will strip out any keys that start with &#39;$&#39; in the input, so you can pass it to MongoDB without worrying about malicious users overwriting.</p>
</blockquote>
<p><strong>Safe</strong>:</p>
<pre><code class="lang-javascript">var sanitize = require(&#39;mongo-sanitize&#39;);

app.post(&#39;/user&#39;, function (req, res) {

    var query = {
        username: sanitize(req.body.username),
        password: sanitize(req.body.password)
    }

    db.collection(&#39;users&#39;).findOne(query, function (err, user) {
        console.log(user);
    });
});
</code></pre>
<h3 id="mongoose">Mongoose</h3>
<p>If you are using Mongoose, you don&#39;t need to sanitize the inputs. In this case, you just need to set the properties to be typed as string. If someone passes an object like <code>{ $ne: null }</code>, Mongoose will convert it to a string and no harm will be done.</p>
<h3 id="the-where-operator-attack">The $where operator attack</h3>
<p>The <code>$where</code> operator has a very dangerous feature: it allows you to pass a string that will be evaluated inside your server.</p>
<p>To reproduce the problem, suppose that you have an online store and want to find out which users have more than X canceled orders. You could query as the following:</p>
<pre><code class="lang-javascript">var query = {
    $where: &quot;this.canceledOrders &gt; &quot; + req.body.canceledOrders
}

db.collection(&#39;users&#39;).find(query).each(function(err, doc) {
    console.log(doc);
})
</code></pre>
<p>In this case, mongo-sanitize will not help you if the input string is <code>&#39;0; return true&#39;</code>. Your where clause will be evaluated as <code>this.canceledOrders &gt; 0; return true</code> and <strong>all</strong> users would be returned.</p>
<p>Or you could receive <code>&#39;0; while(true){}&#39;</code> as input and suffer a DoS attack.</p>
<p>It also works for string inputs, like:</p>
<pre><code class="lang-javascript">var query = {
    $where: &quot;this.name === &#39;&quot; + req.body.name + &quot;&#39;&quot;
}
</code></pre>
<p>The attack could be the string <code>&#39;\&#39;; return \&#39;\&#39; == \&#39;&#39;</code> and the where clause would be evaluated to <code>this.name === &#39;&#39;; return &#39;&#39; == &#39;&#39;</code>, that results in returning all users instead of only those who matches the clause.</p>
<p>The solution here is to <strong>never</strong> use the <code>$where</code> operator. Why? I list it here:</p>
<ol>
<li><p><strong>Performance</strong>: since you can run arbitrary JavaScript code, the <code>$where</code> operator is not optimized. That means: indexes will be ignored.</p>
</li>
<li><p><strong>Scope is not accessible</strong>: the solution to avoid the code injection would be to add the where clause inside a function, like the following:</p>
<pre><code class="lang-javascript">var query = {
   $where: function() {
       return this.canceledOrders &gt; threshold
   }
}
</code></pre>
<p>However, it <strong>won&#39;t</strong> work. The local variable value is not passed to Mongo and it returns the following error if executed in shell: (thanks to <a href="http://stackoverflow.com/a/15615226/1476885">@Utaal</a>)</p>
<pre><code class="lang-javascript">Error: error: {
 &quot;$err&quot; : &quot;ReferenceError: threshold is not defined\n    at _funcs2 (_funcs2:1:45) near &#39;s.canceledOrders &gt; threshold }&#39; &quot;,
 &quot;code&quot; : 16722
}
</code></pre>
<p>Also, the Node.js Mongo driver version 2.1 has a bug. If you pass a function to your <code>$where</code> clause it will be completely ignored and <code>{}</code> will be used instead (which returns <em>everything</em>).</p>
</li>
<li><p>There is always a better solution. In this case, you could use the operators <code>$eq</code> or <code>$gt</code>.</p>
</li>
</ol>
<h3 id="more">More</h3>
<p>If you want to read more about this subject, I suggest <a href="http://blog.websecurify.com/2014/08/hacking-nodejs-and-mongodb.html">this blog post</a> that contains code examples and a GitHub project to reproduce the attacks.</p>
<p>As a rule of thumb, always follow the <a href="https://en.wikipedia.org/wiki/Principle_of_least_privilege">principle of least privilege</a>: to minimize the potential damage that an attacker can make, do not assign full-access to your application. Run using only the permissions that you need.</p>
<a share-twitter="share-twitter" data-text="&quot;NoSQL Injection in MongoDB&quot;" data-url="http://zanon.io/posts/nosql-injection-in-mongodb" data-via="zanon_io" data-size="large"></a>
    </div>
  </div>
</div>
<div class="disqus">
  <dir-disqus></dir-disqus>
</div>