#home h3 {
	color: white;
	font-weight: bold;
}

#home h3 > span {
	color: #F06000;
}

#about p {
	color: white;
	margin-bottom: 10px;
}

.inverted-selection p::selection {
    background: white;
}

.skill-title h5 {
	color: #F06000;
}

.skill-item h5 {
	font-family: 'opensans', sans-serif;
}

.skill .block-one {
	margin-bottom: 30px;
}

.skill .block-two {
	margin-bottom: 60px;
}

.orange-text {
	color: #F06000;
}

.big-block {
    margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E8E8E8;
}

.img-microsoft img {
	width: 40px;
	height: 40px;
}

.img-mongodb img {
	width: 133px;
	height: 40px;
}

.img-amazon img {
	width: 100px;
	height: 40px;
}

.img-certification {
	margin-bottom: 40px;
}

.img-certification img {
	margin-right: 10px;
	vertical-align: middle;
}

.img-certification a {
	font-size: 16px;
}

@media only screen and (max-width: 1000px) {

	.profile-pic {
		max-width: 180px;
		max-height: 180px;
	}
}

@media only screen and (max-width: 767px) {

	.block-one, .block-two {
		text-align: center;
	}

	.block-one .four, .block-two .four {
		margin-bottom: 20px;
	}
}
