#home h3 {
	color: white;
	font-weight: bold;
}

#home h3 > span {
	color: #F06000;
}

#about p {
	color: white;
	margin-bottom: 10px;
}

.inverted-selection p::selection {
    background: white;
}

.skill-title h5 {
	color: #F06000;
}

.skill-item h5 {
	font-family: 'opensans', sans-serif;
}

.skill .block-one {
	margin-bottom: 30px;
}

.skill .block-two {
	margin-bottom: 60px;
}

