div(class="row post-container")
    div(class="col-md-offset-1 col-md-10 post")
        h1= post.title
        p(class="date")= post.date
        div
          = '\n\n'
          != post.content

          a(share-twitter data-text='"' + post.title + '"' data-url="http://zanon.io/posts/" + post.url data-via="zanon_io" data-size="large")

div(class="disqus")
  dir-disqus
