<div ng-controller="PostsController">

  <div ng-show="active.all || active.aws || active.node" class="row">
    <div class="col-md-offset-1 col-md-10">
      <article>
        <div class="date">
          NOV 15, 2015
        </div>
        <h2><a href="/posts/jaws-the-monstrously-scalable-serverless-framework">JAWS: The Monstrously Scalable Serverless Framework</a></h2>
        <p>AWS Lambda and API Gateway are really game changers and JAWS is the framework that helps you to use them. You can embed all of your server-side business rules into simple RESTful services to achieve infinite scalability with really low costs.</p>             
        <button ng-click="filter('aws');" type="button" class="btn tag pull-right">AWS</button>
      </article>
    </div>                       
  </div>

  <div class="row">
  </div>
</div>        
